body {
    padding-top: 5rem;
 }
  .tittle {
    padding: 3rem 1.5rem;
    text-align: center;
  }
  
  .python {
      color: cornflowerblue;
  }

  .card1 {
    padding: 3rem 1.5rem;
    text-align: center;
  }

.tips{
   text-align: center;
}

.signup {
  text-align: center;
}

.water21 {
  text-align: center;
}